.browse-content {
	.browse-hero {
		width: 100vw;
		height: 100vh;
		background-image: linear-gradient(to right, rgba(167, 232, 189, .8), rgba(167, 232, 189, .8)),
			url(../images/recipe-hero.jpg);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		display: flex;

		.recipe-container {
			width: 1100px;
			min-height: 200px;
			margin: 300px auto;
			background-color: hotpink;
		}
		h1 {
			font-family: $font1;
			font-size: 25px;
		}

		.recipe-box {
			width: 524px;
			height: 263px;
			display: flex;

			.recipe-image {
				width: 300px;
				height: 263px;
				background-color: chartreuse;
			}
			.recipe-description {
				width: 224px;
				height: 263px;
				background-color: teal;
			}
		}
	}
}
