.fullrecipe-content {
	width: 100vw;
	// height: 100vh;
	display: flex;

	.fullrecipe-container {
		width: 955px;
		min-height: 800px;
		margin: 0 auto;
		margin-bottom: 400px;
		display: block;
		//
	}

	.image-descript {
		width: 955px;
		min-height: 422px;
		margin-top: 250px;
		// display: flex;
		// justify-content: space-between;

		.fullrecipe-image {
			width: 468px;
			height: 422px;
			background-image: url(../images/recipe-pizza.jpg);
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			opacity: 1;

			img {
				width: 468px;
				height: 422px;
				opacity: 1;
			}
		}
		.fullrecipe-description {
			width: 452px;
			height: 422px;

			.descript {
				font-family: $font3;
				font-size: 25px;
				margin-bottom: 35px;
			}
			.fullrecipe-text {
				font-family: $font2;
				font-size: 20px;
				margin-bottom: 45px;
			}
			.total-time {
				font-family: $font3;
				font-size: 20px;
				margin-bottom: 39px;
			}
			.time {
				font-family: $font2;
				font-size: 20px;
				margin-bottom: 45px;
			}
			.serve {
				font-family: $font3;
				font-size: 20px;
				margin-bottom: 39px;
			}
			.servings {
				font-family: $font2;
				font-size: 20px;
				margin-bottom: 39px;
			}
		}
	}
	.ingredient-container {
		width: 445px;
		margin-top: 500px;

		.ingred-title {
			font-family: $font3;
			font-size: 25px;
			margin-top: 66px;
			margin-bottom: 35px;
		}
		.ingredient {
			font-family: $font2;
			font-size: 20px;
			margin-top: 20px;
		}
	}
	.instructions-container {
		width: 955px;
		margin-top: 66px;

		.instruct-title {
			font-family: $font3;
			font-size: 25px;
		}
		.instruction {
			font-family: $font2;
			font-size: 20px;
		}
	}
	.edit {
		width: 127px;
		height: 42px;
		margin-top: 60px;
		margin-bottom: 120px;
	}
	.close {
		width: 127px;
		height: 42px;
		margin-top: 60px;
		margin-bottom: 120px;
		cursor: pointer;
		background-color: #ffd972;
		border-radius: 26px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.side-text {
		width: 216px;
		height: 30px;
		position: absolute;
		font-size: 25px;
		font-family: $font3;
		color: #000;
		writing-mode: vertical-rl;
		transform: rotate(180deg);
		top: 355px;
		left: 300px;
		width: 94px;
		height: 347px;
		text-align: left;
		z-index: 99;
	}
}

// ======RESPONSIVENESS======//

@media only screen and (max-width: 1200px) {
	.fullrecipe-content {
		.fullrecipe-container {
			width: 468px;
			min-height: 400px;

			.image-descript {
				width: 468px;
				display: block;
				.fullrecipe-image {
					width: 468px;
					height: 421px;
				}
				.fullrecipe-description {
					width: 455px;
					.descript {
						margin-top: 30px;
					}
				}
			}
			.instructions-container {
				width: 456px;
			}
		}
	}
}

@media only screen and (max-width: 600px) {
	.fullrecipe-content {
		.fullrecipe-container {
			width: 251px;
			min-height: 200px;

			.image-descript {
				width: 251px;
				display: block;
				.fullrecipe-image {
					width: 251px;
					height: 226px;
				}
				.fullrecipe-description {
					width: 251px;
					.descript {
						margin-top: 30px;
					}
				}
			}
			.instructions-container {
				width: 251px;
			}
		}
	}
}
