nav {
	width: 100vw;
	height: 100px;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 99;

	.logo {
		width: 168px;
		height: 55px;
		margin-left: 50px;
		background-image: url(../images/logo/logofont.png);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.nav-holder {
		width: 800px;
		// height: 100vh;
		// height: 100vh;
		// left: 300px;
		display: flex;
		top: 10px;
		justify-content: space-between;

		.bars {
			position: absolute;
			display: none;
			right: 10px;
			top: -40px;
		}

		.bars .bar {
			display: block;
			width: 25px;
			margin: 5px 0;
			background-color: #000;
			height: 3px;
			border-radius: 5px;
			transition: all .3s ease-in-out;
		}

		.bars.active .bar:nth-child(2) {
			opacity: 0;
		}
		.bars.active .bar:nth-child(1) {
			transform: translateY(8px) rotate(45deg);
		}
		.bars.active .bar:nth-child(3) {
			transform: translateY(-8px) rotate(-45deg);
		}

		.links {
			width: 800px;
			display: flex;
			height: 70px;
			// width: 100vw;
			margin-left: -10px;
			overflow: hidden;
			justify-content: space-evenly;
			align-items: center;
			transition: height .4s, opacity .4s ease-in;
			z-index: 99;

			a {
				font-family: $font2;
				font-size: 25px;
				color: #000;
				text-decoration: none;
				letter-spacing: 2.5px;
			}
		}

		.links.active {
			width: 100%;
			// width: 800px;
			// width: 600px;
			// padding-left: 100px;
			opacity: 1;
		}

		.your {
			// display: none;
		}
		.active {
			width: 54px;

			// border-bottom: 3px #000 solid;
		}
	}
	button {
		width: 168px;
		height: 55px;
		border-radius: 26px;
		background-color: #ffd972;
		font-family: $font2;
		font-size: 25px;
		border: none;
		box-shadow: 0px 10px 6px #00000029;
	}
	.logout {
	}
	.name {
	}
}

// =====RESPONSIVENESS====//
@media only screen and (max-width: 1050px) {
	nav {
		// height: 100px;
		// width: 100vw;
		// display: flex;
		// z-index: 99;
		.logo {
			margin-top: 10px;
		}
		.nav-holder {
			position: absolute;
			// height: 100vh;
			top: 55px;
			// left: 100px;
			right: 10px;
			width: 100vw;
			z-index: 99;

			.bars {
				display: block;
				z-index: 99;
			}
			.links {
				width: 100vw;
				height: 50vh;
				margin-top: 40px;
				opacity: 0;
				right: 10px;
				flex-direction: column;
				transition: height .4s, opacity .4s ease-in;
				background-color: rgba(242, 92, 84, 1);
			}
		}
	}
}
