* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@font-face {
  font-family: Caveat Bold;
  src: url(../css/fonts/Caveat-Bold.ttf);
}
@font-face {
  font-family: Caveat Regular;
  src: url(../css/fonts/Caveat-Regular.ttf);
}
@font-face {
  font-family: LatoBlack;
  src: url(../css/fonts/Lato-Black.ttf);
}
@font-face {
  font-family: LatoItalic;
  src: url(../css/fonts/Lato-Italic.ttf);
}
@font-face {
  font-family: LatoLight;
  src: url(../css/fonts/Lato-Light.ttf);
}
@font-face {
  font-family: LatoRegular;
  src: url(../css/fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: GillSans Italic;
  src: url(../css/fonts/GillSansItalic.ttf);
}
@font-face {
  font-family: GillSans-Light;
  src: url(../css/fonts/GillSans-Light.ttf);
}
@font-face {
  font-family: GillSans;
  src: url(../css/fonts/GillSans.ttf);
}
nav {
  width: 100vw;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
}
nav .logo {
  width: 168px;
  height: 55px;
  margin-left: 50px;
  background-image: url(../images/logo/logofont.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
nav .nav-holder {
  position: relative;
  width: 700px;
  margin: 52px;
  display: flex;
  justify-content: space-between;
}
nav .nav-holder .links {
  width: 600px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
nav .nav-holder .links a {
  font-family: Caveat Regular;
  font-size: 25px;
  color: #000;
  text-decoration: none;
  letter-spacing: 2.5px;
}
nav .nav-holder .links .active {
  width: 54px;
  border-bottom: 3px #000 solid;
}
nav .nav-holder button {
  width: 168px;
  height: 55px;
  border-radius: 26px;
  background-color: #ffd972;
  font-family: Caveat Regular;
  font-size: 25px;
  border: none;
}

footer {
  height: 60px;
  margin-top: -70px;
  padding-bottom: 24px;
  font-family: LatoItalic;
  color: #393939;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
}
footer .copyright {
  width: 266px;
  height: 18px;
  margin-left: 40px;
}
footer .misc {
  width: 645px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .socials {
  width: 78px;
  display: flex;
  justify-content: space-between;
  margin-right: 40px;
}
footer .socials .fbook {
  width: 19px;
  height: 19px;
  background-image: url(../images/socials/fbook.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
footer .socials .insta {
  width: 19px;
  height: 19px;
  background-image: url(../images/socials/insta.png);
}

.home-content .home-hero {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right, rgba(242, 92, 84, 0.6), rgba(242, 92, 84, 0.6)), url(../images/hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-content .home-hero .home-text {
  width: 442px;
  height: 401px;
  position: absolute;
}
.home-content .home-hero .home-text .big-circle {
  width: 358px;
  height: 358px;
  margin-top: 43px;
  background-color: #ffd972;
  border-radius: 180px;
  position: absolute;
  z-index: 99;
  display: flex;
}
.home-content .home-hero .home-text .big-circle .big-text h1 {
  width: 227px;
  height: 24px;
  margin-top: 114px;
  margin-left: 92.5px;
  font-family: Caveat Bold;
  font-size: 24px;
  letter-spacing: 2.4px;
}
.home-content .home-hero .home-text .big-circle .big-text p {
  width: 166px;
  height: 80px;
  margin-top: 30.5px;
  margin-left: 95px;
  font-family: LatoRegular;
  font-size: 13px;
  text-align: center;
}
.home-content .home-hero .home-text .small-circle {
  width: 168px;
  height: 168px;
  border-radius: 180px;
  background-color: #fcbcb8;
  position: relative;
  left: 275px;
  display: flex;
}
.home-content .home-hero .home-text .small-circle .small {
  width: 106px;
  height: 38px;
  font-family: LatoItalic;
  font-size: 10px;
  margin-top: 60px;
  margin-left: 30.5px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 12px;
}

.browse-content .browse-hero {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right, rgba(167, 232, 189, 0.8), rgba(167, 232, 189, 0.8)), url(../images/recipe-hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}
.browse-content .browse-hero .recipe-container {
  width: 1100px;
  min-height: 200px;
  margin: 300px auto;
  background-color: hotpink;
}
.browse-content .browse-hero h1 {
  font-family: Caveat Bold;
  font-size: 25px;
}