* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@font-face {
  font-family: Caveat Bold;
  src: url(../css/fonts/Caveat-Bold.ttf);
}
@font-face {
  font-family: Caveat Regular;
  src: url(../css/fonts/Caveat-Regular.ttf);
}
@font-face {
  font-family: LatoBlack;
  src: url(../css/fonts/Lato-Black.ttf);
}
@font-face {
  font-family: LatoItalic;
  src: url(../css/fonts/Lato-Italic.ttf);
}
@font-face {
  font-family: LatoLight;
  src: url(../css/fonts/Lato-Light.ttf);
}
@font-face {
  font-family: LatoRegular;
  src: url(../css/fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: GillSans Italic;
  src: url(../css/fonts/GillSansItalic.ttf);
}
@font-face {
  font-family: GillSans-Light;
  src: url(../css/fonts/GillSans-Light.ttf);
}
@font-face {
  font-family: GillSans;
  src: url(../css/fonts/GillSans.ttf);
}
nav {
  width: 100vw;
  height: 100px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
}
nav .logo {
  width: 168px;
  height: 55px;
  margin-left: 50px;
  background-image: url(../images/logo/logofont.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
nav .nav-holder {
  width: 600px;
  display: flex;
  top: 10px;
  justify-content: space-between;
}
nav .nav-holder .bars {
  position: absolute;
  display: none;
  right: 10px;
  top: -40px;
}
nav .nav-holder .bars .bar {
  display: block;
  width: 25px;
  margin: 5px 0;
  background-color: #000;
  height: 3px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
nav .nav-holder .bars.active .bar:nth-child(2) {
  opacity: 0;
}
nav .nav-holder .bars.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
nav .nav-holder .bars.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
nav .nav-holder .links {
  width: 600px;
  display: flex;
  height: 70px;
  margin-left: -10px;
  overflow: hidden;
  justify-content: space-evenly;
  align-items: center;
  transition: height 0.4s, opacity 0.4s ease-in;
  z-index: 99;
}
nav .nav-holder .links a {
  font-family: Caveat Regular;
  font-size: 25px;
  color: #000;
  text-decoration: none;
  letter-spacing: 2.5px;
}
nav .nav-holder .links.active {
  width: 600px;
  opacity: 1;
}
nav .nav-holder .your {
  display: none;
}
nav .nav-holder .active {
  width: 54px;
}
nav button {
  width: 168px;
  height: 55px;
  border-radius: 26px;
  background-color: #ffd972;
  font-family: Caveat Regular;
  font-size: 25px;
  border: none;
  box-shadow: 0px 10px 6px #00000029;
}

@media only screen and (max-width: 960px) {
  nav .logo {
    margin-top: 10px;
  }
  nav .nav-holder {
    position: absolute;
    top: 55px;
    right: 10px;
    width: 100vw;
    z-index: 99;
  }
  nav .nav-holder .bars {
    display: block;
    z-index: 99;
  }
  nav .nav-holder .links {
    width: 100vw;
    height: 50vh;
    margin-top: 40px;
    opacity: 0;
    right: 10px;
    flex-direction: column;
    transition: height 0.4s, opacity 0.4s ease-in;
    background-color: #f25c54;
  }
}
footer {
  min-height: 60px;
  margin-top: -70px;
  padding-bottom: 24px;
  font-family: LatoItalic;
  color: #393939;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  margin-bottom: 50px;
}
footer .footer-container {
  display: flex;
  justify-content: space-between;
  width: 1100px;
}
footer .footer-container .copyright {
  width: 266px;
  height: 18px;
  margin-left: 40px;
}
footer .footer-container .misc {
  width: 645px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .socials {
  width: 78px;
  display: flex;
  justify-content: space-between;
  margin-right: 40px;
}
footer .socials .fbook {
  width: 19px;
  height: 19px;
  background-image: url(../images/socials/fbook.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
footer .socials .insta {
  width: 19px;
  height: 19px;
  background-image: url(../images/socials/insta.png);
}

@media only screen and (max-width: 1240px) {
  footer .footer-container {
    min-height: 20px;
  }
  footer .footer-container .misc {
    width: 600px;
    min-height: 5px;
    margin-right: 30px;
    display: flex;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 1100px) {
  footer .footer-container {
    min-height: 20px;
  }
  footer .footer-container .misc {
    width: 450px;
    padding-right: 30px;
    min-height: 5px;
    margin-right: 30px;
    display: flex;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 768px) {
  footer {
    font-size: 10px;
    display: flex;
    margin-left: 20px;
  }
  footer .footer-container {
    width: 300px;
    margin-bottom: 50px;
    margin-left: 30px;
    min-height: 50px;
    display: block;
  }
  footer .footer-container .copyright {
    margin-left: 0;
    margin-bottom: 10px;
  }
  footer .footer-container .misc {
    display: flex;
    justify-content: space-evenly;
    min-height: 20px;
    width: 400px;
    flex-wrap: wrap;
    padding-left: 80px;
    padding-right: 80px;
    line-height: 20px;
  }
  footer .socials {
    width: 50px;
    margin-left: 30px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
  }
}
.home-content .home-hero {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right, rgba(242, 92, 84, 0.6), rgba(242, 92, 84, 0.6)), url(../images/hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-content .home-hero .home-text {
  width: 442px;
  height: 401px;
  position: absolute;
}
.home-content .home-hero .home-text .big-circle {
  width: 358px;
  height: 358px;
  margin-top: 43px;
  background-color: #ffd972;
  border-radius: 180px;
  position: absolute;
  z-index: 50;
  display: flex;
}
.home-content .home-hero .home-text .big-circle .big-text h1 {
  width: 227px;
  height: 24px;
  margin-top: 114px;
  margin-left: 92.5px;
  font-family: Caveat Bold;
  font-size: 24px;
  letter-spacing: 2.4px;
}
.home-content .home-hero .home-text .big-circle .big-text p {
  width: 166px;
  height: 80px;
  margin-top: 30.5px;
  margin-left: 95px;
  font-family: LatoRegular;
  font-size: 13px;
  text-align: center;
}
.home-content .home-hero .home-text .small-circle {
  width: 168px;
  height: 168px;
  border-radius: 180px;
  background-color: #fcbcb8;
  position: relative;
  left: 275px;
  display: flex;
}
.home-content .home-hero .home-text .small-circle .small {
  width: 106px;
  height: 38px;
  font-family: LatoItalic;
  font-size: 10px;
  margin-top: 60px;
  margin-left: 30.5px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 12px;
}

@media only screen and (max-width: 960px) {
  .big-circle {
    z-index: 50;
  }
}
.browse-content .browse-hero {
  width: 100vw;
  height: 100%;
  background-image: linear-gradient(to right, rgba(167, 232, 189, 0.8), rgba(167, 232, 189, 0.8)), url(../images/recipe-hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}
.browse-content .browse-hero .recipe-container {
  width: 1100px;
  min-height: 200px;
  margin: 220px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.browse-content .browse-hero h1 {
  width: 100%;
  font-family: Caveat Bold;
  font-size: 25px;
}
.browse-content .browse-hero .recipe-box {
  width: 524px;
  min-height: 263px;
  margin-bottom: 50px;
  display: flex;
}
.browse-content .browse-hero .recipe-box .recipe-image {
  width: 300px;
  height: 263px;
  border-radius: 24px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.browse-content .browse-hero .recipe-box .pizza {
  background-image: url(../images/recipe-pizza.jpg);
}
.browse-content .browse-hero .recipe-box .burger {
  background-image: url(../images/recipe-burger.jpg);
}
.browse-content .browse-hero .recipe-box .pilaf {
  background-image: url(../images/recipe-pilaf.jpg);
}
.browse-content .browse-hero .recipe-box .chowmein {
  background-image: url(../images/recipe-chowmein.jpg);
}
.browse-content .browse-hero .recipe-box .recipe-description {
  width: 224px;
  height: 263px;
  border-radius: 24px;
  background-color: #ffffff;
}
.browse-content .browse-hero .recipe-box .recipe-description .recipe-title {
  width: 140px;
  border-bottom: 3px solid;
  margin: 46px auto 21px auto;
  font-family: LatoBlack;
  font-size: 15px;
  letter-spacing: 1.5px;
}
.browse-content .browse-hero .recipe-box .recipe-description .recipe-text {
  width: 150px;
  min-height: 100px;
  margin: 0 auto;
  letter-spacing: 0.9px;
  line-height: 11px;
  font-family: LatoRegular;
  font-size: 9px;
}
.browse-content .browse-hero .recipe-box .recipe-description .recipe-stats {
  width: 84px;
  margin: 0 auto 10px auto;
  display: flex;
  justify-content: space-between;
}
.browse-content .browse-hero .recipe-box .recipe-description .icon {
  width: 23px;
  height: 25px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.browse-content .browse-hero .recipe-box .recipe-description .timer {
  background-image: url(../images/icons/time.svg);
}
.browse-content .browse-hero .recipe-box .recipe-description .meal {
  background-image: url(../images/icons/servings.svg);
}
.browse-content .browse-hero .recipe-box .recipe-description .time {
  width: 46px;
  font-family: LatoRegular;
  font-size: 10px;
}
.browse-content .browse-hero .recipe-box .recipe-description .servings {
  width: 46px;
  font-family: LatoRegular;
  font-size: 10px;
}

@media only screen and (max-width: 1200px) {
  .browse-content .browse-hero {
    height: 100%;
    display: flex;
  }
  .browse-content .browse-hero .recipe-container {
    width: 524px;
    flex-wrap: wrap;
    margin: 200px auto;
  }
}
@media only screen and (max-width: 650px) {
  .browse-content .browse-hero .recipe-container {
    width: 298px;
  }
  .browse-content .browse-hero .recipe-container .recipe-box {
    width: 298px;
    min-height: 200px;
    display: flex;
    flex-wrap: wrap;
  }
  .browse-content .browse-hero .recipe-container .recipe-box .recipe-image {
    width: 298px;
    min-height: 149px;
  }
  .browse-content .browse-hero .recipe-container .recipe-box .recipe-description {
    width: 298px;
    min-height: 169px;
  }
}
.login-content {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  background-color: #ffd972;
}
.login-content .login-create-container {
  width: 710px;
  min-height: 455px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.login-content .login-box {
  width: 210px;
  height: 280px;
  margin-top: 100px;
  display: block;
}
.login-content .login-box h1 {
  font-family: LatoBlack;
  font-size: 30px;
  margin-bottom: 61px;
}
.login-content .login-box input {
  width: 209px;
  border: none;
  margin-bottom: 51px;
  border-bottom: 3px solid #000;
  background-color: #ffd972;
}
.login-content .create-box {
  width: 250px;
  height: 450px;
}
.login-content .create-box h1 {
  font-family: LatoBlack;
  font-size: 30px;
  margin-bottom: 61px;
  letter-spacing: 1.2px;
}
.login-content .create-account {
  font-family: LatoItalic;
  font-size: 12px;
}
.login-content input {
  width: 209px;
  border: none;
  margin-bottom: 51px;
  border-bottom: 3px solid #000;
  background-color: #ffd972;
}

button {
  width: 209px;
  height: 52px;
  border-radius: 26px;
  background-color: #ffd972;
  border: none;
  box-shadow: 0px 10px 6px #00000029;
  font-family: Caveat Regular;
  font-size: 25px;
}

@media only screen and (max-width: 768px) {
  .login-content {
    height: 100%;
  }
  .login-content .login-create-container {
    width: 207px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
  }
  .login-content .login-create-container .login-box {
    margin-bottom: 150px;
  }
  .login-content .login-create-container .create-box {
    margin-bottom: 200px;
  }
}
.create-content {
  width: 100vw;
  display: flex;
}
.create-content .field-container {
  width: 980px;
  min-height: 200px;
  margin: 0 auto;
  padding-bottom: 100px;
}
.create-content .field-container h1 {
  font-family: Caveat Bold;
  font-size: 25px;
  margin-bottom: 50px;
  padding-top: 200px;
}
.create-content .field-container h3 {
  height: 30px;
  font-family: LatoBlack;
  font-size: 20px;
  margin-bottom: 20px;
}
.create-content .field-container .input-holder {
  position: absolute;
}
.create-content .field-container input {
  width: 981px;
  height: 40px;
  border: none;
  margin-bottom: 100px;
  border-bottom: 3px solid #000;
}
.create-content .field-container .attach {
  width: 110px;
  height: 36px;
  position: relative;
  right: 110px;
  background-color: #efa7a7;
}
.create-content .add {
  width: 38px;
  height: 38px;
  position: relative;
  top: -145px;
  left: 940px;
  background-color: #efa7a7;
  box-shadow: none;
  display: flex;
  justify-content: center;
}
.create-content .add span {
  width: 13px;
  height: 23px;
  margin-right: 3px;
}
.create-content ::placeholder {
  font-family: LatoLight;
  font-size: 20px;
  color: #000;
}
.create-content .create-button {
  width: 422px;
  height: 52px;
  border-radius: 26px;
  background-color: #efa7a7;
  font-family: Caveat Regular;
  font-size: 25px;
  margin-bottom: 60px;
  margin-left: 275px;
}

.your-content .your-hero {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right, rgba(167, 232, 189, 0.8), rgba(167, 232, 189, 0.8)), url(../images/recipe-hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}
.your-content .your-hero .your-container {
  width: 1100px;
  min-height: 200px;
  margin: 220px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.your-content .your-hero h1 {
  width: 100%;
  font-family: Caveat Bold;
  font-size: 25px;
}
.your-content .your-hero .your-box {
  width: 524px;
  min-height: 263px;
  margin-bottom: 50px;
  display: flex;
}
.your-content .your-hero .your-box .your-image {
  width: 300px;
  height: 263px;
  border-radius: 24px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.your-content .your-hero .your-box .view {
  width: 128px;
  height: 42px;
}
.your-content .your-hero .your-box .pizza {
  background-image: url(../images/recipe-pizza.jpg);
}
.your-content .your-hero .your-box .your-description {
  width: 224px;
  height: 263px;
  border-radius: 24px;
  background-color: #ffffff;
}
.your-content .your-hero .your-box .your-description .your-title {
  width: 140px;
  border-bottom: 3px solid;
  margin: 46px auto 21px auto;
  font-family: LatoBlack;
  font-size: 15px;
  letter-spacing: 1.5px;
}
.your-content .your-hero .your-box .your-description .your-text {
  width: 150px;
  min-height: 100px;
  margin: 0 auto;
  letter-spacing: 0.9px;
  line-height: 11px;
  font-family: LatoRegular;
  font-size: 9px;
}
.your-content .your-hero .your-box .your-description .recipe-stats {
  width: 84px;
  margin: 0 auto 10px auto;
  display: flex;
  justify-content: space-between;
}
.your-content .your-hero .your-box .your-description .icon {
  width: 23px;
  height: 25px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.your-content .your-hero .your-box .your-description .timer {
  background-image: url(../images/icons/time.svg);
}
.your-content .your-hero .your-box .your-description .meal {
  background-image: url(../images/icons/servings.svg);
}
.your-content .your-hero .your-box .your-description .time {
  width: 46px;
  font-family: LatoRegular;
  font-size: 10px;
}
.your-content .your-hero .your-box .your-description .servings {
  width: 46px;
  font-family: LatoRegular;
  font-size: 10px;
}
.your-content .your-hero .your-box .edit-delete-container {
  position: absolute;
  width: 300px;
  height: 42px;
  top: 650px;
  display: flex;
  justify-content: space-around;
  font-family: Caveat Regular;
  font-size: 20px;
}
.your-content .your-hero .your-box .edit-delete-container .edit {
  width: 128px;
  height: 42px;
}
.your-content .your-hero .your-box .edit-delete-container .delete {
  width: 128px;
  height: 42px;
}

.fullrecipe-content {
  width: 100vw;
  display: flex;
}
.fullrecipe-content .fullrecipe-container {
  width: 955px;
  min-height: 200px;
  margin: 0 auto;
}
.fullrecipe-content .fullrecipe-container .image-descript {
  width: 955px;
  height: 422px;
  margin-top: 250px;
  display: flex;
  justify-content: space-between;
}
.fullrecipe-content .fullrecipe-container .image-descript .fullrecipe-image {
  width: 468px;
  height: 422px;
  background-image: url(../images/recipe-pizza.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.fullrecipe-content .fullrecipe-container .image-descript .fullrecipe-description {
  width: 452px;
  height: 422px;
}
.fullrecipe-content .fullrecipe-container .image-descript .fullrecipe-description .descript {
  font-family: LatoBlack;
  font-size: 25px;
  margin-bottom: 35px;
}
.fullrecipe-content .fullrecipe-container .image-descript .fullrecipe-description .fullrecipe-text {
  font-family: Caveat Regular;
  font-size: 20px;
  margin-bottom: 45px;
}
.fullrecipe-content .fullrecipe-container .image-descript .fullrecipe-description .total-time {
  font-family: LatoBlack;
  font-size: 20px;
  margin-bottom: 39px;
}
.fullrecipe-content .fullrecipe-container .image-descript .fullrecipe-description .time {
  font-family: Caveat Regular;
  font-size: 20px;
  margin-bottom: 45px;
}
.fullrecipe-content .fullrecipe-container .image-descript .fullrecipe-description .serve {
  font-family: LatoBlack;
  font-size: 20px;
  margin-bottom: 39px;
}
.fullrecipe-content .fullrecipe-container .image-descript .fullrecipe-description .servings {
  font-family: Caveat Regular;
  font-size: 20px;
  margin-bottom: 39px;
}
.fullrecipe-content .fullrecipe-container .ingredient-container {
  width: 445px;
}
.fullrecipe-content .fullrecipe-container .ingredient-container .ingred-title {
  font-family: LatoBlack;
  font-size: 25px;
  margin-top: 66px;
  margin-bottom: 35px;
}
.fullrecipe-content .fullrecipe-container .ingredient-container .ingredient {
  font-family: Caveat Regular;
  font-size: 20px;
}
.fullrecipe-content .fullrecipe-container .instructions-container {
  width: 955px;
  margin-top: 66px;
}
.fullrecipe-content .fullrecipe-container .instructions-container .instruct-title {
  font-family: LatoBlack;
  font-size: 25px;
}
.fullrecipe-content .fullrecipe-container .instructions-container .instruction {
  font-family: Caveat Regular;
  font-size: 20px;
}
.fullrecipe-content .fullrecipe-container .edit {
  width: 127px;
  height: 42px;
  margin-top: 60px;
  margin-bottom: 120px;
}

.editrecipe-content {
  width: 100vw;
  display: flex;
}
.editrecipe-content .field-container {
  width: 980px;
  min-height: 200px;
  margin: 0 auto;
  padding-bottom: 100px;
}
.editrecipe-content .field-container h1 {
  font-family: Caveat Bold;
  font-size: 25px;
  margin-bottom: 50px;
  padding-top: 200px;
}
.editrecipe-content .field-container h3 {
  height: 30px;
  font-family: LatoBlack;
  font-size: 20px;
  margin-bottom: 20px;
}
.editrecipe-content .field-container .input-holder {
  position: absolute;
}
.editrecipe-content .field-container input {
  width: 981px;
  height: 40px;
  border: none;
  margin-bottom: 100px;
  border-bottom: 3px solid #000;
}
.editrecipe-content .field-container .attach {
  width: 110px;
  height: 36px;
  position: relative;
  right: 110px;
  background-color: #efa7a7;
}
.editrecipe-content .add {
  width: 38px;
  height: 38px;
  position: relative;
  top: -145px;
  left: 940px;
  background-color: #efa7a7;
  box-shadow: none;
  display: flex;
  justify-content: center;
}
.editrecipe-content .add span {
  width: 13px;
  height: 23px;
  margin-right: 3px;
}
.editrecipe-content ::placeholder {
  font-family: LatoLight;
  font-size: 20px;
  color: #000;
}
.editrecipe-content .submit-button {
  width: 422px;
  height: 52px;
  border-radius: 26px;
  background-color: #efa7a7;
  font-family: Caveat Regular;
  font-size: 25px;
  margin-bottom: 60px;
  margin-left: 275px;
}